@import "utilities";

$limegreen: #46cd59;
$tomato: #ff645d;
$dodgerblue: #50a7ff;

/* ### WooCommerce Globals */

.woocommerce {

	.content {
		padding: 7.5vw;
		background-color: $white;

		@include breakpoint(sm) {
			padding: 6rem;
		}
	}

	.breadcrumb {
		width: calc(100vw - 15vw);
		margin: 0 -7.5vw 7.5vw;

		@include breakpoint(sm) {
			width: calc(100% + 12rem);
			margin: 0 -6rem 6rem;
		}
	}

	.entry.product {
		padding: 0;
	}

	abbr.required,
	ins {
		text-decoration: none;
	}

	.products .star-rating {
		clear: both;
		padding: 10px;
	}

	p.stars {

		a,
		a:hover {
			outline: 0;
		}
	}

	td,
	th {
		border: none;
	}

	span.onsale {
		position: absolute;
		top: 2em;
		right: auto;
		left: -0.382em;
		width: 4em;
		min-width: 4em;
		height: 2em;
		min-height: 2em;
		border-radius: $site-radius;
		background-color: $accent;
		font-size: 1.4rem;
		font-weight: $normal;
		line-height: 1.7;
		letter-spacing: 0.05em;
		text-transform: uppercase;

		&:after {
			display: block;
			position: absolute;
			top: calc(2em - 0.38em);
			left: 0.1em;
			border: 0.382em solid transparent;
			border-left-color: black(0.146);
			border-radius: $site-radius;
			content: " ";
			transform: rotate(-45deg);
		}
	}

	.woocommerce-LoopProduct-link {
		display: block;
	}
}

.site-header .fa-shopping-cart {
	display: block;
	float: right;
	position: relative;
	padding: 0 0 0 1rem;
	color: $dark;
	font-size: 2rem;

	@include breakpoint(sm) {
		margin-right: 2em;
	}

	&:hover {
		opacity: 1;

		.cart-count {
			transform: scale(1.2);
		}
	}
}

.cart-count {
	display: block;
	position: absolute;
	top: -0.6rem;
	right: -0.6rem;
	width: 14px;
	height: 14px;
	border: 1px solid white(1);
	border-radius: 99px;
	color: $white;
	background-color: $accent;
	font-family: $font-body;
	font-size: 1.2rem;
	font-weight: $normal;
	line-height: 14px;
	text-align: center;
	transition: transform 0.316s ease;
}

.cart-total {
	visibility: hidden;
	position: absolute;
	text-indent: -9999px;
}

/* ### WooCommerce Front Page */

.woocommerce {

	ul.products {

		li.product-category.product {
			display: block;
			width: 100%;

			@include breakpoint(sm) {
				width: 31.623931623931625%;
			}

			a {
				display: block;
				position: relative;
				width: 100%;
				height: 18rem;

				&:hover {

					img {
						transform: scale(1.1);
					}

					h2 {
						color: $white;
					}
				}
			}

			img {
				display: block;
				position: absolute;

				@include transition;
			}

			h2 {
				display: block;
				position: absolute;
				width: 100%;
				padding: 7rem 0;
				color: $white;
				background-color: transparent;
				font-size: 2.4rem;
				text-align: center;

				mark {
					visibility: hidden;
					position: absolute;
				}
			}
		}
	}
}

/* ### WooCommerce Shop Page */

.woocommerce {

	.content .entry {
		border-bottom: 0;
	}

	.woocommerce-ordering {
		float: left;
		clear: both;
		width: auto;

		@include breakpoint(xs) {
			float: right;
			clear: none;
		}

		select {
			height: auto;
		}
	}

	a.added_to_cart {
		position: absolute;
		right: 0.75em;
		bottom: 0.75em;
		font-size: 1.8rem;
		font-weight: $bolder;
		line-height: 1;
	}

	a.button.loading,
	button.button.loading,
	input.button.loading,
	#respond input#submit.loading {

		&:after {
			top: 1em;
		}
	}

	&.full-width-content,
	&.columns-4 {

		ul.products li.product {

			@include breakpoint(sm) {
				width: 23.076923076923077%;
			}
		}
	}

	ul.products {

		@include breakpoint(sm) {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;
		}

		&:before,
		&:after {

			@include breakpoint(sm) {
				display: none;
			}
		}

		li.product {
			display: flex;
			background-color: $white;
			box-shadow: none;
			text-align: center;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;

			@include breakpoint(sm) {
				width: 31.623931623931625%;
				margin-right: 0;
				margin-left: 2.564102564102564%;
			}

			&:hover {

				img {
					transform: scale(1.1);
				}
			}

			&:before,
			&:after {
				display: none;
			}

			&.first {
				clear: both;
				margin-left: 0;
			}

			a {
				overflow: hidden;
			}

			img {
				margin-bottom: 0 !important;

				@include transition;
			}

			h2,
			.price .from,
			.woocommerce-loop-product__title {
				position: relative;
				background-color: $white;
				font-size: 1.8rem;
			}

			.price {
				display: block;
				float: none;
				clear: both;
				color: $dark;
				background-color: $white;

				del,
				ins {
					display: inline;
					margin-right: 0.5em;
				}
			}

			span.onsale {
				top: 2em;

				&:after {
					right: 0.15em;
					left: auto;
					border-right-color: black(0.146);
					border-left-color: transparent;
					transform: rotate(45deg);
				}
			}

			.star-rating {
				display: none;
				position: absolute;
				right: 0;
				bottom: -2em;
				left: 0;
				margin: 0 auto 0.5em;
			}

			.woocommerce-LoopProduct-link {
				display: block;
				align-self: flex-start;

				@include transition;
			}

			.button {
				display: none;
				float: none;
				position: absolute;
				top: 0;
				margin-top: 0;
				opacity: 0;
				text-align: center;
				align-self: flex-end;
			}
		}
	}

	.woocommerce-pagination {

		.page-numbers {
			border: none;
			font-family: $font-heading;
			font-size: 1.5rem;

			li {
				display: inline;
				border: none;
			}

			a,
			li span {
				display: inline-block;
				width: 3rem;
				height: 3rem;
				margin: 0 0.1em;
				padding: 0.7rem;
				border-radius: $site-radius;
				text-decoration: none;
				cursor: pointer;
			}

			li a {
				margin-bottom: 4px;

				@include breakpoint(sm) {
					margin-bottom: 0;
				}
			}

			a:hover,
			.active a {
				color: $white;
				background-color: $accent;
			}
		}
	}
}

/* ### WooCommerce Product */

.woocommerce {

	div.product {
		position: relative;

		.star-rating {
			float: left;
		}

		p.price,
		span.price {
			float: left;
			color: $accent;
			font-family: $font-heading;
			font-size: 2rem;
			line-height: 1.5;
		}

		form.cart {
			clear: both;
			padding: 1em 0 0;

			.button {
				line-height: 1.5;
			}

			.variations {
				table-layout: fixed;
			}
		}
	}

	.woocommerce-variation-price {
		margin-bottom: 20px;
	}

	.woocommerce-product-details__short-description {

		@include clearfix;
	}
}

/* ### WooCommerce Product Tabs */

.woocommerce div.product .woocommerce-tabs ul.tabs {
	padding-left: 5px;

	&:before,
	li {
		border: $site-border;
	}

	li {
		padding: 0;
		border-radius: 0;
		background-color: $light;

		&:after,
		&:before {
			display: none;
		}

		a {
			padding: 0.5em 1em;
			color: $dark;
			font-size: 1.6rem;
			font-weight: $normal;
			letter-spacing: 0.05em;

			&:hover {
				color: $accent;
			}
		}
	}
}

/* Two Sidebar Layouts */

.content-sidebar-sidebar,
.sidebar-content-sidebar,
.sidebar-sidebar-content {

	&.woocommerce div.product .woocommerce-tabs ul.tabs {
		padding: 0;

		li {
			display: block;
			margin: 0;
			border-bottom: 0;
			background-color: $white;

			&:last-child {
				border-bottom: $site-border;
			}

			&.active {
				border-bottom-color: $light;

				a:after {
					float: right;
					font-family: dashicons, sans-serif;
					content: "\f147";
				}
			}

			a {
				display: block;
			}
		}
	}
}

/* ### WooCommerce Checkout & Payment */

.woocommerce-cart,
.woocommerce-checkout,
#add_payment_method {

	table.cart {

		td.actions .coupon input[type="text"] {
			width: auto;
			max-width: 50%;
			height: auto;
			border-color: $light;
			line-height: 2;
		}

		img {
			vertical-align: middle;
		}

		input {
			vertical-align: top;
		}
	}

	form.checkout {

		.col2-set {

			@include breakpoint(md) {
				float: left;
				width: 48.717948717948715%;
			}

			.col-1,
			.col-2 {
				width: 100%;
			}
		}

		#order_review_heading {
			margin-top: 1em;
		}

		#order_review_heading,
		.woocommerce-checkout-review-order {

			@include breakpoint(md) {
				float: right;
				width: 48.717948717948715%;
				margin-left: 2.564102564102564%;
			}
		}

		.woocommerce-additional-fields {

			h3 {
				display: none;
			}
		}
	}

	#payment {
		padding: 0;
		border: $site-border;
		border-radius: $site-radius;
		background-color: $white;

		div.form-row {
			margin-bottom: 0;

			&.place-order {
				background-color: $light;
			}
		}

		ul.payment_methods {
			padding: 2em;
			border-color: $light;

			li {
				list-style-type: none;
			}
		}

		div.payment_box {
			border: $site-border;
			border-radius: $site-radius;
			background-color: $light;

			&:before {
				display: none;
			}
		}
	}
}

/* ### WooCommerce Cart Page */

.woocommerce table.shop_table {

	&,
	td {
		border-color: $light;
		border-radius: $site-radius;
		line-height: 1.75;
		word-break: normal;
	}

	.order-number {
		min-width: 75px;
	}

	td.actions {
		padding-top: 15px;
	}
}

.woocommerce-cart {

	table.cart {
		line-height: 1.75;

		td {
			padding: 10px 12px;
			font-size: 1.8rem;
		}

		.product-thumbnail {
			min-width: 56px;
		}

		th.product-name {
			min-width: 140px;
		}

		th.product-price,
		th.product-quantity,
		th.product-subtotal {
			min-width: 110px;
		}
	}

	td.product-name dl.variation dd {
		margin-left: 20px;
	}

	.cart-collaterals {
		padding-top: 1em;
	}
}

.woocommerce-checkout-review-order-table th.product-total {
	min-width: 110px;
}

/* ### WooCommerce Forms */

.woocommerce {

	a.button,
	button.button,
	input.button,
	input.button[type="submit"],
	#respond input#submit {
		display: inline-block;
		width: auto;
		height: auto;
		padding: 0.618em 2em;
		border: 0;
		border-radius: $site-radius;
		color: $white;
		background: $accent;
		box-shadow: inset 0 0 0 999px rgba(255, 255, 255, 0);
		font-size: 1.8rem;
		font-weight: $bold;
		line-height: 1;
		white-space: nowrap;
		text-decoration: none;
		cursor: pointer;

		&:hover {
			color: $white;
			background-color: $accent;
			box-shadow: inset 0 0 0 99px white(0.2);
		}

		&.disabled,
		&:disabled,
		&:disabled[disabled] {
			padding: 1rem 2rem;
			color: $accent;
			background-color: $light;
		}

		&.alt {
			background-color: $accent;
			font-size: 1.8rem;

			&:hover {
				background-color: $accent;
			}
		}
	}

	#reviews .comment {

		.meta {
			display: block;
			clear: both;
			text-transform: capitalize;
		}
	}

	.quantity .qty {
		width: 70px;
		margin-right: 5px;
		padding: 0.5em 1em;
		line-height: 1.5;
	}

	.coupon {
		line-height: 1;

		.input-text {
			height: 48px;
		}

		input.button {
			padding: 0.618 0;

			@include breakpoint(xs) {
				padding: 0.618;
			}
		}
	}

	form {

		.form-row input.input-text,
		.form-row textarea {
			padding: 10px;
			line-height: 1.5;
		}

		&.checkout_coupon,
		&.login,
		&.register,
		.form-row .select2-container,
		.form-row.woocommerce-validated input.input-text,
		.form-row.woocommerce-validated select,
		.form-row.woocommerce-validated .select2-container {
			border-color: $light;
			border-radius: 0;
		}
	}

	&.widget.widget_price_filter,
	.widget.widget_price_filter {

		.price_slider_amount .button {
			font-size: 1.6rem;
		}
	}
}

/* ### WooCommerce Account Page */

.woocommerce-account {

	.woocommerce-Address-title h3 {
		font-size: 2.6rem;
	}

	.woocommerce-Address {
		margin-bottom: 20px;
	}

	table.order_details th.product-total {
		min-width: 110px;
	}

	.woocommerce-MyAccount-navigation {
		background-color: $white;

		@include breakpoint(sm) {
			float: left;
			width: 20%;
			margin-right: 5%;
		}
	}

	.woocommerce-MyAccount-content {

		@include breakpoint(sm) {
			float: right;
			width: 75%;
		}
	}
}

.woocommerce-MyAccount-navigation {
	margin-bottom: 40px;
	padding: 0;
	border: $site-border;
	border-radius: $site-radius;

	ul {
		margin-bottom: 0;
		margin-left: 0;

		li {
			font-weight: $bolder;
			list-style-type: none;

			&:first-of-type {

				a {
					border-top: none !important;
				}
			}

			&.is-active > a {
				padding: 0.618em 1.382em;
				background-color: $light;
			}

			a {
				display: block;
				padding: 0.5em 1.382em;
				border-top: $site-border;
			}
		}
	}
}

.content-sidebar.woocommerce-account,
.sidebar-content.woocommerce-account {

	.woocommerce-MyAccount-navigation {
		width: 100%;
		margin-right: 0;
		text-align: center;

		ul {
			text-align: center;
		}

		li {
			display: inline-block;
			margin: 0 10px;
		}
	}

	.woocommerce-MyAccount-content {
		width: 100%;
	}
}

/* ### WooCommerce Breadcrumb */

.woocommerce .woocommerce-breadcrumb {
	margin-bottom: 40px;
	color: $accent;
	font-size: 1.8rem;

	a {
		color: $accent;
		text-decoration: none;

		&:hover {
			color: $accent;
		}
	}
}

/* ### WooCommerce Reviews */

.woocommerce {

	#reviews #comments ol.commentlist li {
		position: relative;
		margin: 2rem 0 3rem;
		padding: 0;
		border: 0;
		background: transparent;

		img.avatar {
			position: relative;
			margin: 0 16px 24px 0;
			padding: 0;
			border: 0;
			background: transparent;
		}

		.comment-text {
			padding: 0;
			border-color: transparent;
			border-radius: 0;
		}
	}

	.comment-reply-title {
		display: block;
		padding: 0 0 1em;
		font-family: $font-heading;
		font-size: 2rem;

		@include clearfix;
	}

	.entry-content #reviews ol > li {
		list-style-type: none;
	}
}

/* ### WooCommerce Misc */

.woocommerce-message,
.woocommerce-error,
.woocommerce-info {
	border-top-color: $limegreen;
	background-color: $light;

	&:before {
		color: $limegreen;
	}

	.woocommerce-MyAccount-content & {
		overflow: auto;
		padding: 1em 1em 1em 3em;

		.button {
			display: block;
			float: right;
		}
	}

	a {
		font-weight: $bolder;
	}
}

.woocommerce {

	.woocommerce-error {
		margin-left: 0;
		border-top-color: $tomato;

		&:before {
			color: $tomato;
		}
	}

	.woocommerce-info {
		border-top-color: $dodgerblue;

		&:before {
			color: $dodgerblue;
		}
	}
}

div.woocommerce-info.wc-memberships-restriction-message.wc-memberships-restricted-content-message {
	width: 48%;
}

/* ### Woo Search */

.woocommerce-product-search {
	overflow: hidden;
	width: 100%;

	input[type="submit"] {
		clip: rect(0, 0, 0, 0);
		position: absolute;
		width: 1px;
		height: 1px;
		margin: -1px;
		padding: 0;
		border: 0;
	}
}

/* ### Woo Shopping Cart */

.woocommerce .widget_shopping_cart,
.woocommerce.widget_shopping_cart {

	ul.cart_list li {
		padding-top: 15px;
	}

	.cart_list li a.remove {
		top: 15px;
		color: $tomato !important;

		&:hover {
			color: $white !important;
			background-color: $tomato;
		}
	}

	.total {
		border-top: $site-border;
	}

	.buttons a {
		margin-bottom: 5px;
	}

	.cart_list li.empty {
		padding-left: 0;
	}
}

/* ### Woo Product Lists */

.woocommerce ul.cart_list li img,
.woocommerce ul.product_list_widget li img {
	width: 60px;
}

.sidebar ul.product_list_widget li {
	margin-bottom: 15px;
	padding: 15px 0 0;
	line-height: 1.4;

	&:last-child {
		margin-bottom: 0;
		padding-bottom: 15px;
	}
}

/* ### Woo Filter */

.woocommerce {

	&.widget_price_filter .price_slider_wrapper .ui-widget-content {
		background-color: $light;
	}

	&.widget_price_filter .ui-slider {

		.ui-slider-range {
			background-color: black(0.1);
		}

		.ui-slider-handle {
			background-color: $accent;
		}
	}

	.widget_layered_nav ul li.chosen a,
	.widget_layered_nav_filters ul li a,
	.widget_rating_filter ul li.chosen a {

		&:before {
			color: $accent;
		}
	}

	.widget_price_filter .ui-slider .ui-slider-handle,
	&.widget_price_filter .ui-slider .ui-slider-handle {
		top: -0.28em;
	}

	.widget_price_filter .price_slider_amount .button,
	&.widget_price_filter .price_slider_amount .button {
		font-size: 1.6rem;
	}
}

/* ### Woo Active Filters */

.woocommerce.widget_layered_nav_filters ul li {
	margin: 0 20px 20px 0;
}

/* ### Woo Recent Reviews */

.woocommerce.widget_recent_reviews .reviewer {
	font-size: 1.2rem;
	letter-spacing: 1px;
}
